<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading"> Trends</p>
    <a class="panel-block">
      trends 1
    </a>
    <a class="panel-block">
      trends 2
    </a>
    <a class="panel-block">
      trends 3
    </a>
    <a class="panel-block">
      trends 4
    </a>
    <a class="panel-block">
      trends 5
    </a>
    <a class="panel-block">
      trends 6
    </a>
  </nav>
</div>
