<div class="column is-half">


  <% @followers.each do |follower| %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(follower.following_user.email, size: 64, alt: follower.following_user.name) %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <strong><%= follower.follower_user&.name || "deleted user"%></strong><br />
            <small>@<%= follower.follower_user ? follower.follower_user.username : "Dzēsts lietotājs"  %></small><br/>
          </div>
        </div>
        <div class="media-right">
      
          <p class="control">
            <%= link_to 'Unfollow', new_user_session_path, class: "button is-danger is-rounded is-outlined" %>
          </p>

        </div>
      </article>
    </div>
  <% end %>
</div>
