/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma_overrides";
@import "bulma";

.navbar-brand .title{
  color: white;
}

//round images
.image {
  border-radius: 50%;
  img{
    border-radius: 50%;
  }
}

.imagepadd{
  height: 28px;
  width: 28px;
  padding-top: 6px;
}

.padd{
  padding-top: 3px;
}

.profile-picture{
  margin-bottom: 0.7em !important;
  margin-right: 0.5em !important;
  margin-left: 0em !important;
}

.logopadd{
  height: 28px;
  width: 28px;
  padding-top: 1px;
}

.followingspadd{
  padding-top: 9px;
}

body{
  padding-top: 52px;
}

html, body{
  background-color: transparent;
  height: 100%;
}

body.background{
  background-image: asset-url("background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: rgb(19, 17, 19);

}

.section {
    padding: 1.5rem 1.5rem;
}

.notification:not(:last-child ){
  margin-bottom: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.navigation-button-min-width {
   > ul > li {
     min-width: 200px;
   }
}

.is-equal-spread ul li {
  flex: 1 1 0
}
.is-postition-fixed {
  position: fixed;
}

@include mobile {
  .is-postition-relative-mobile-only {
    position: relative !important;
  }
}

.img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  margin-top: 10px;
  @media only screen and (max-width: 650px) {
    max-width: auto;
  }
  @media only screen and (min-width: 651px) {
    max-width: 400px;
  }
}

.is-width-200px{
  width: 200px;
}

.is-width-300px{
  width: 300px;
}

.navbar-end .buttons:last-child{
  padding-right: 1rem;
}

.gray-border-1px{
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
}
.has-margin-10px{
  margin: 10px 10px;
}
.has-margin-3px{
  margin: 3px;
}
.has-margin-top-05{
  margin-top: 0.5em;
}

.has-right-margin{
  margin-right: 30px;
}
.has-margin-left-10px{
  margin-left: 10px;
}
.has-padding-right-60px{
  padding-right: 60px;
}

.has-margin-right-15px{
  margin-right: 15px;
}

.has-aligned-in-center{
  align-self: center;
}

.has-flex-1{
  flex: 1 !important;
}
.has-flex-2{
  flex: 2 !important;
}
.has-flex-4{
  flex: 4 !important;
}

.likes{
  Width: 340px;
  margin: 10px auto;
  .align-center{
    align-items: center;
    figure{
    margin: 5px 10px;
    }
  }
}
.profile{
  display: flex;
}

.profile div{
  flex: 1;
  p{
    text-align: center;
  }
}

.has-margin-bottom-5px{
  margin-bottom: 5px;
}

.comments .fa-trash {
  margin-left: 5px;
}

.bio{
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  flex: 1;
}

.has-display-flex{
  display: flex;
}

section .box .media-content {
  overflow-x: hidden;
  overflow-y: hidden;
  .level .level-item{
    margin-bottom: 0rem;
  }
}

.overflow{
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

@media (min-width: 768px){
  .is-visible-mobile-only {
    display: none;
  }
}

.has-margin-bottom-25px{
  margin-bottom: 25px;
}

.has-width-60px{
  width: 60px;
}

.has-padding-right-30px{
  padding-right: 30px;
}

.modal-content{
  background-color: white;
  border-radius: 10px;
}

.has-align-top {
  align-self: flex-start;
}

.pointer {
  cursor: pointer;
}

.activeSearch {
  background-image: asset-url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.activeUsernames {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.has-display-block {
  display: block !important;
}

.activeUsernames li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Lai nav dubultās apmales */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#AllUsernames li a:hover:not(.header) {
  background-color: #eee;
}
